/* Todo => ||||||||||||||||||||| Common CSS Start ||||||||||||||||||||| */
* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    vertical-align: middle;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
ul,
ol,
li {
    padding: 0;
    margin: 0;
}
/* Todo => ||||||||||||||||||||| Common CSS End   ||||||||||||||||||||| */

/* Todo => |||||||||||||||||||| Menu Part CSS Start ||||||||||||||||||| */
.menu_part {
    height: 50px;
    background: rgba(53, 53, 53, 0.225);

    /* ! [banner-position: relative] To set the menu over the banner */
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    z-index: 999;
}

.menu_part .navbar-brand {
    width: 245px;
    height: 70px;
    background: #323232;
    text-align: center;
    padding-top: 10px !important;
    transform: skewX(-45deg);
}

.menu_part .navbar-brand img {
    width: initial;
    transform: skewX(45deg);
}

.menu_part .navbar-nav .nav-item .nav-link {
    padding: 0;
    color: #f1f1f1;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: 0 10px;
    line-height: 50px;
    transition: all linear 0.4s;
    position: relative;
}

.menu_part .navbar-nav .nav-item .nav-link::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background: #e23e38;
    transition: all linear 0.4s;
}

.menu_part .navbar-nav .nav-item .nav-link:hover {
    color: #222222;
    background: #ffffff;
}

.menu_part .navbar-nav .nav-item .nav-link:hover:after {
    width: 100%;
}
/* Todo => |||||||||||||||||||| Menu Part CSS End   ||||||||||||||||||| */

/* Todo => ||||||||||||||||||| Banner Part CSS Start |||||||||||||||||| */
.banner_item {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    padding: 254px 0 116px;
    position: relative;
    z-index: 1;
}

.banner_item::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.banner_text h3 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.banner_text h1 {
    color: #e23e38;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: 12px 0 18px;
}

.banner_text p {
    color: #dddddd;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;
}

.banner_text a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: 10px 15px;
    border: 1px solid #f1f1f1;
    transition: all linear 0.2s;
    margin-top: 30px;
    margin-right: 25px;
}

.banner_text a:last-child {
    margin-right: 0;
}

.banner_text a:hover {
    background: #e23e38;
    border-color: #e23e38;
}

.banner_text h3,
h1,
p {
    position: relative;
}

.banner_text h3::before {
    position: absolute;
    content: '';
    left: 50px;
    top: 20px;
    width: 164px;
    height: 3px;
    background: #e23e38;
    clip-path: polygon(0 1%, 100% 0%, 96% 100%, 0% 100%);
}

.banner_text h3::after {
    position: absolute;
    content: '';
    right: 45px;
    top: 20px;
    width: 110px;
    height: 3px;
    background: #e23e38;
    clip-path: polygon(0 1%, 100% 0%, 100% 100%, 4% 100%);
}

.banner_text h1::before {
    position: absolute;
    content: '';
    left: 50px;
    top: -15px;
    width: 3px;
    height: 200px;
    background: #e23e38;
}

.banner_text h1::after {
    position: absolute;
    content: '';
    right: 45px;
    top: -15px;
    width: 3px;
    height: 200px;
    background: #e23e38;
}

.banner_text p::before {
    position: absolute;
    content: '';
    left: 50px;
    bottom: -50px;
    width: 62px;
    height: 3px;
    background: #e23e38;
}

.banner_text p::after {
    position: absolute;
    content: '';
    right: 45px;
    bottom: -50px;
    width: 38px;
    height: 3px;
    background: #e23e38;
}

/* Todo: Set display-none of banner_text h1,h3,p after-before for other 2 banner-slider */
#banner_text_before_after_none h1:after,
#banner_text_before_after_none h1:before,
#banner_text_before_after_none h3:after,
#banner_text_before_after_none h3:before,
#banner_text_before_after_none p:after,
#banner_text_before_after_none p:before {
    display: none;
}

/* Todo: Banner slider 'dots' css */
#banner_part .slick-dots {
    display: flex;
    column-gap: 10px;
    position: absolute;
    left: 50%;
    bottom: 33px;
    transform: translate(-50%);
}

#banner_part .slick-dots > li > button {
    font-size: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background: transparent;
}

#banner_part .slick-dots > li.slick-active > button {
    width: 20px;
    height: 20px;
    background: #e23e38;
    border-color: #e23e38;
}

/* Todo: Banner slider 'arrow' css */
.prev_arrow {
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translate(-50%);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    z-index: 999;
    transition: all linear 0.3s;
}

.prev_arrow:hover {
    color: #e23e38;
    border-color: #e23e38;
}

.next_arrow {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(-50%);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    z-index: 999;
    transition: all linear 0.3s;
}

.next_arrow:hover {
    color: #e23e38;
    border-color: #e23e38;
}

/* Todo => ||||||||||||||||||| Banner Part CSS End   |||||||||||||||||| */

/* Todo => ||||||||||||||||||| About Part CSS Start  |||||||||||||||||| */
#about_part {
    padding: 80px;
}

.about_video {
    position: relative;
}

.about_video .overly {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.about_video .overly a {
    background: #e23e38;
    color: #1e1b20;
    font-size: 30px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 54px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    cursor: pointer;
    transition: all linear 0.3s;
}

.about_video .overly a:hover {
    background: #f1f1f1;
}

.about_text h2 {
    color: #222222;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.about_text img {
    width: initial;
    margin: 5px 0 18px;
}

.about_text p {
    color: #444444;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
}

.about_text p > span {
    padding-top: 1.5rem;
}
/* Todo => ||||||||||||||||||| About Part CSS End    |||||||||||||||||| */

/* Todo => ||||||||||||||||||| Gallery Part CSS Start ||||||||||||||||| */
.gallery_banner {
    padding: 30px 0 0;
    background: url('../images/gallery-banner.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.gallery_banner::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.gallery_img {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.gallery_img .overly {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    background: rgba(226, 62, 56, 0.5);
    border: 5px solid rgba(255, 255, 255, 0.5);
    transform: scale(0);
    transition: all linear 0.4s;
}

.gallery_img .overly a {
    color: #ffffff;
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gallery_img:hover .overly {
    transform: scale(1);
}

.gallery_img img {
    transition: all linear 0.4s;
}

.gallery_img:hover img {
    transform: scale(1.1);
}
/* Todo => ||||||||||||||||||| Gallery Part CSS End   ||||||||||||||||| */

/* Todo => ||||||||||||||||||| Team Part CSS Start    ||||||||||||||||| */
#team_part {
    padding: 80px 0 38px;
}

.team_inner {
    margin-top: 54px;
    transition: all linear 0.4s;
}

.team_inner:hover {
    transform: translateY(-42px);
}

.team_inner:hover .team_text {
    border: 1px solid #f1f1f1;
    border-top: 0;
}

.team_text h4 {
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: 16px 0 5px;
}

.team_text h5 {
    color: #444444;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

.team_text p {
    color: #444444;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;
    padding: 10px 36px 20px;
    transform: scale(0);
    transition: all linear 0.4s;
}

.team_inner:hover .team_text > p {
    transform: scale(1);
}

.team_img {
    position: relative;
}

.team_img .overly {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    background: rgba(226, 62, 56, 0.5);
    border: 5px solid rgba(255, 255, 255, 0.5);
    transform: scale(0);
    transition: all linear 0.4s;
}

.team_inner:hover .overly {
    transform: scale(1);
}

.overly_icons {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.overly_icons a {
    color: #fffefe;
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ffffff;
    transition: all linear 0.4s;
}

.overly_icons a:hover {
    color: #1da0f2;
    background: #fff;
}
/* Todo => ||||||||||||||||||| Team Part CSS End      ||||||||||||||||| */

/* Todo => ||||||||||||||||||| Testimonial Part CSS Start ||||||||||||| */

.testimonial_inner {
    background: url(../images/tesimonial-background.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    margin: 12px 0 80px;
    padding: 30px 0;
    z-index: 1;
}

.testimonial_inner::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    z-index: -1;
}

.testimonial_text h4 {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.testimonial_text h5 {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    padding: 5px 0;
}

.testimonial_text P {
    color: #dddddd;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;
    padding: 5px 85px 50px 0;
}

.testimonial_text .ratings > i {
    font-size: 14px;
    color: #e23e38;
}

.testimonial_slider {
    position: relative;
}

/* Todo: Testimonial inner slider 'dots' css */
.testimonial_slider .slick-dots {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.testimonial_slider .slick-dots > li > button {
    font-size: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background: transparent;
}

.testimonial_slider .slick-dots > li.slick-active > button {
    width: 20px;
    height: 20px;
    background: #e23e38;
    border-color: #e23e38;
}
/* Todo => ||||||||||||||||||| Testimonial Part CSS End   ||||||||||||| */

/* Todo => ||||||||||||||||||| Membership Part CSS Start  ||||||||||||| */
#membership_part {
    padding-bottom: 80px;
}

.membership_item {
    margin-top: 12px;
    background-color: #f1f1f1;
    transition: all linear 0.3s;
}

.membership_item h4 {
    padding: 20px;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    background-color: #dddddd;
    transition: all linear 0.3s;
}

.membership_item:hover h4 {
    color: #fff;
    background-color: #e23e38;
}

.membership_item .membership_banner {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    padding: 36px 0;
}

.membership_item h3 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}

.membership_item h3 > span {
    font-size: 29px;
}

.membership_item ul {
    padding: 35px 0 15px;
}

.membership_item ul > li {
    color: #444444;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 20px;
}

.membership_item a {
    padding: 10px;
    color: #222222;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    background-color: #dddddd;
    transition: all linear 0.3s;
    display: block;
}

.membership_item:hover a {
    color: #fff;
    background-color: #e23e38;
}

/* Todo => ||||||||||||||||||| Membership Part CSS End    ||||||||||||| */

/* Todo => ||||||||||||||||||| Counter Part CSS Start     ||||||||||||| */
#counter_part {
    padding: 45px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
    position: relative;
    z-index: 1;
}

#counter_part::after {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

#counter_part ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

#counter_part ul li h3 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}

#counter_part ul li span {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}
/* Todo => ||||||||||||||||||| Counter Part CSS End       ||||||||||||| */

/* Todo => ||||||||||||||||||| Class Part CSS Start       ||||||||||||| */
#class_part {
    padding: 80px 0;
}

.class_menu {
    background-color: #f1f1f1;
    margin-top: 12px;
    justify-content: space-around;
}

.class_menu .nav-link {
    padding: 10px 85px;
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    transition: all linear 0.4s;
    border-radius: 0;
}

.class_menu .nav-link.active,
.class_menu .show > .nav-link {
    color: #fff;
    background-color: #e23e38;
}

/* .class_menu .nav-link:hover {
    color: #fff !important;
    background-color: #e23e38;
} */

.class_content ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding-top: 16px;
}

.class_content ul > li {
    padding: 50px;
    flex-basis: 19.69%;
    background-color: #f1f1f1;
    transition: all linear 0.4s;
}

.class_content ul li:hover {
    background-color: #e23e38;
    transform: translateY(-3px);
}

.class_content ul li > h5 {
    color: #222222;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    transition: all linear 0.4s;
}

.class_content ul li:hover h5 {
    color: #111;
    font-weight: 600;
}

.class_content ul li > img {
    margin: 10px 0 5px;
    width: 50px !important;
    height: 50px;
}

.class_content ul li > p {
    color: #444;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    transition: all linear 0.4s;
}

.class_content ul li:hover p {
    color: #222;
    font-weight: 500;
}

.class_bottom a {
    background-color: #f1f1f1;
    border: 1px solid transparent;
    margin-top: 80px;
    width: 90% !important;
    transition: all linear 0.4s;
}

.class_bottom a:hover {
    border: 1px solid #dfdfdf;
    box-shadow: 0 0 3px 0 #dfdfdf;
}

/* Todo: Class bottom part slider 'arrow' css */
.class_bottom {
    position: relative;
}

.clsPrevArrow {
    position: absolute;
    left: -30px;
    top: 65%;
    color: #444444;
    font-size: 26px;
    z-index: 999;
    transition: all linear 0.3s;
}

.clsPrevArrow:hover {
    color: #e23e38;
}

.clsNextArrow {
    position: absolute;
    right: -30px;
    top: 65%;
    font-size: 26px;
    color: #444444;
    z-index: 999;
    transition: all linear 0.3s;
}

.clsNextArrow:hover {
    color: #e23e38;
}

/* Todo => ||||||||||||||||||| Class   Part CSS End       ||||||||||||| */
